<h1>Login to your Owner account:</h1>

<form action="/owners/login" method="POST">	
  <h3>Owner Name: <input type="text" name="owner_name" placeholder="Owner Name:"></h3>

  <h3>Password: <input type="text" name="password" placeholder="Password:"></h3>

  <input type="submit" value="Login">
 </form>