<h1>Welcome, <%=@owner.owner_name.capitalize%></h1>

<h3>Here is your info:</h3><br>

<p>Company Name: <%=@owner.owner_name%></p>
<p>Email: <%=@owner.email%></p><br><br>

<form action="/logout" method="GET">
    <input type="submit" value="Logout">
</form>