<h1>Sign Up as a New Company</h1><br>

<h2>Sign Up:</h2>

<form action="/owners/signup" method="POST">	
  <h3>Company Name: <input type="text" name="owner_name" placeholder="Company Name"></h3>

  <h3>Email: <input type="text" name="email" placeholder="example@example.com"></h3>

  <h3>Password: <input type="text" name="password" placeholder="Password"></h3>

  <input type="submit" value="Sign Up">
 </form><br><br>

<form action="/" method="GET">
    <input type="submit" value="Home">
</form><br>