<h1>Welcome to the Freelance Job Board Page!</h1><br><br><br>

<h3>To Login as a User, please press the Login button below:</h3><br>

<form action="/users/login" method="GET">
    <input type="submit" value="User Login">
</form><br>

<h3>To Login as an Owner, please press the Login button below:</h3><br>

<form action="/owners/login" method="GET">
    <input type="submit" value="Owner Login">
</form><br>

<h3> To Sign Up for the Job Board as a User, press the User Sign Up button below</h3><br>

<form action="/users/signup" method="GET">
    <input type="submit" value="User Signup">
</form><br>


<h3> To Sign Up for the Job Board as an Owner, press the Owner Sign Up button below</h3><br>

<form action="/owners/signup" method="GET">
    <input type="submit" value="Owner Signup">
</form>





